@use 'sass:map'
@use 'sass:math'
@use 'colors'
@use 'mixins'

@import ~bootstrap/scss/functions
@import ~bootstrap/scss/variables

.standardContent
  position: relative
  z-index: 20

.homeWrapper
  color: var(--bs-light)
  background: linear-gradient(to bottom, darken(colors.$primary, 5%), darken(colors.$primary, 10%))
  @mixin relative-text
    position: relative
    z-index: 21
  @for $i from 1 through 6
    h#{$i}
      @include relative-text
  button, p
    @include relative-text

.banner
  height: 48rem // Arbitrary value
  @media (max-width: map.get($grid-breakpoints, 'lg'))
    height: auto
  @for $i from 1 through 6
    h#{$i}
      font-weight: bolder
  &::after
    $background: url(/images/banner-home-0-overlay.png), url(/images/banner-home-0.png)
    @include mixins.image-overlay($background)
    z-index: 2

.sectionContent
  $shadow-color: rgba(black, .38)
  @extend .standardContent
  font-family: Poppins, 'Work Sans', sans-serif
  font-weight: 600
  font-size: 3.5rem
  @media (max-width: map.get($grid-breakpoints, 'lg'))
    font-size: 2rem
  span
    transition: color 250ms ease-in-out
    &:hover
      color: inherit !important

.sectionContentNegative
  @extend .sectionContent
  color: colors.$dark-blue

.floatingBox
  @extend .standardContent
  transition: background-color 250ms ease-in-out
  &:hover
    background-color: rgba(white, 0.1)
    cursor: help

.contentAbout
  @extend .standardContent
  &::after
    $background: url(/images/banner-home-1-overlay.png), url(/images/banner-home-1.png)
    @include mixins.image-overlay($background)

.contrastedContent
  color: var(--bs-dark)

.contentApproach
  @extend .standardContent, .contrastedContent
  @include mixins.image-overlay(url(/images/banner-home-2-overlay-0.svg))
  background-position-y: 28%
  position: relative
  opacity: 1
  &::before
    @include mixins.image-overlay(url(/images/banner-home-2-overlay-1.png))
    opacity: .35

.contentServices
  @extend .standardContent, .contrastedContent
  @include mixins.image-overlay(url(/images/banner-home-2-overlay-2.svg))
  background-position-y: 28%
  position: relative
  opacity: 1

.serviceBox
  position: relative
  transition: all 350ms ease
  overflow: hidden
  backdrop-filter: blur(.5rem)
  &:hover
    color: white !important
    cursor: help
    &::before
      top: 0
  &::before
    @include mixins.color-overlay(colors.$dark-blue)
    display: inline-block !important
    top: 100%
    margin: 0
    transition: inherit
