@use 'sass:math'

.wrapper
  background-size: cover
  background-position: center

$animationSteps: 20
$animationDuration: 30
$animationElementsCount: 100
$delayBetweenLetters: 0.1

@keyframes anim-text-flow-keys
  @for $i from 0 through $animationSteps
    #{percentage($i * math.div(1, $animationSteps))}
      $hue: random(250)
      color: hsla($hue, 70%, 70%, 1)

$totalDelayTime: $animationElementsCount * $delayBetweenLetters

.title
  backdrop-filter: blur(.8rem)
  background: radial-gradient(ellipse at top, rgba(#467BCA, .4), transparent), radial-gradient(ellipse at bottom, rgba(#2BCEA1, .25), transparent)

.titleText
  $shadow-color: rgba(black, .38)
  animation-name: anim-text-flow-keys
  animation-duration: #{$animationDuration}s
  animation-iteration-count: infinite
  animation-direction: alternate
  animation-fill-mode: forwards
  @for $i from 1 through $animationElementsCount
    &:nth-of-type(#{$i})
      animation-delay: #{($i * $delayBetweenLetters) - $totalDelayTime}s
  text-shadow: 1px 1px 2px $shadow-color, 0 0 2.5em $shadow-color, 0 0 0.4em $shadow-color
