@use 'sass:map'
@use 'sass:math'
@use 'colors'
@use 'mixins'

@import ~bootstrap/scss/functions
@import ~bootstrap/scss/variables

.standardContent
  position: relative
  z-index: 20

.homeWrapper
  color: var(--bs-light)
  background: linear-gradient(to bottom, colors.$dark-blue, darken(colors.$dark-blue, 2%))
  @mixin relative-text
    position: relative
    z-index: 21
  @for $i from 1 through 6
    h#{$i}
      @include relative-text
  button, p
    @include relative-text

.banner
  @for $i from 1 through 6
    h#{$i}
      font-weight: bolder

.sectionContent
  $shadow-color: rgba(black, .38)
  @extend .standardContent
  font-family: Montserrat, sans-serif
  font-weight: 700
  font-size: 3.5rem
  line-height: 1.2
  @media (max-width: map.get($grid-breakpoints, 'lg'))
    font-size: 2rem
  span
    transition: color 250ms ease-in-out
    &:hover
      color: inherit !important

.sectionContentSmall
  @extend .sectionContent
  font-size: 2.8rem
  @media (max-width: map.get($grid-breakpoints, 'lg'))
    font-size: 1.8rem

.sectionContentNegative
  @extend .sectionContent
  color: colors.$dark-blue

.contentAbout
  @extend .standardContent

.contrastedContent
  color: var(--bs-dark)

.contentApproach
  @extend .standardContent, .contrastedContent
  @include mixins.image-overlay(url(/images/banner-home-2-overlay-0.svg))
  background-position-y: 28%
  position: relative
  opacity: 1

.contentServices
  @extend .standardContent, .contrastedContent
  @include mixins.image-overlay(url(/images/banner-home-2-overlay-1.svg))
  background-position-y: 28%
  position: relative
  opacity: 1

.serviceBox
  position: relative
  transition: all 350ms ease
  overflow: hidden
  p
    font-family: 'Work Sans', sans-serif
  &:hover
    color: white !important
    cursor: help
    &::before
      top: 0
  &::before
    @include mixins.color-overlay(colors.$dark-blue)
    display: inline-block !important
    top: 100%
    margin: 0
    transition: inherit
