@use 'sass:map'
@use 'sass:math'
@use 'mixins'
@use 'colors'

@import ~bootstrap/scss/functions
@import ~bootstrap/scss/variables

.expandedContainer
  display: flex
  flex-direction: column

.pageContainer
  @extend .expandedContainer
  min-height: 100vh

.pageContent
  @extend .expandedContainer
  flex-grow: 1

.autoFormat
  $lower-header-index: 6
  @for $i from 1 through $lower-header-index
    h#{$i}
      $base-font-size: 1ex
      $heading-scale: .75

      font-size: $base-font-size - (($lower-header-index - $i) * .75)

      @if $i < $lower-header-index
        line-height: #{2 + (($lower-header-index - $i) * 0.1)}rem

        @media (max-width: map.get($grid-breakpoints, 'lg'))
          $base-font-size: 20px
          font-size: $base-font-size + ($lower-header-index - $i) + 1
          line-height: #{3 + (($lower-header-index - $i) * 0.1)}rem !important

      @if $i < 3
        @include mixins.colored-text(map.get(colors.$palette, 'primary'), map.get(colors.$palette, 'info'))
        font-weight: bolder
      @else
        @include mixins.colored-text(darken(map.get(colors.$palette, 'deep-dark-blue'), ($i * 1.5) + 15%))
        @if $i < 4
          font-weight: bold
        @else if $i < 5
          font-weight: normal
        @else
          font-weight: lighter
  p
    font-family: Montserrat, 'Work Sans', sans-serif
    font-weight: 300
    font-size: 1.5rem
    word-spacing: 0.1rem
    line-height: 1.8rem
    margin: 1rem 0
    @media (max-width: map.get($grid-breakpoints, 'lg'))
      font-size: 1rem
      line-height: 1.25rem
      margin: 0.25rem 0

.topTopButton
  position: fixed
  z-index: 1070
  bottom: 3.5rem
  right: 3.5rem
  @media (max-width: map.get($grid-breakpoints, 'lg'))
    bottom: 1rem
    right: 1rem
