@use 'sass:map'

@import ~bootstrap/scss/functions
@import ~bootstrap/scss/variables

.brandImage
  height: 2.2rem

.brandDepartment
  font-size: .6em
  align-self: center
  @media (min-width: map.get($grid-breakpoints, 'lg'))
    font-size: 1em
