@use 'sass:map'
@use 'mixins'
@use 'colors'

@import ~bootstrap/scss/functions
@import ~bootstrap/scss/variables

.markdownContainer
  display: flex
  flex-direction: column
  @for $i from 1 through 6
    h#{$i}
      @if $i < 3
        @include mixins.colored-text(map.get(colors.$palette, 'primary'), map.get(colors.$palette, 'info'))
        font-weight: bolder
      @else
        @include mixins.colored-text(darken(map.get(colors.$palette, 'primary'), $i + 15%))
        @if $i < 4
          font-weight: bold
        @else if $i < 5
          font-weight: normal
        @else
          font-weight: lighter
  p
    font-family: Poppins, sans-serif
    font-weight: 300
    font-size: 1.5rem
    text-align: justify
    word-spacing: 0.1rem
    line-height: 1.8rem
    margin: 1rem 0
    @media (max-width: map.get($grid-breakpoints, 'lg'))
      font-size: 1rem
      line-height: 1.25rem
      margin: 0.25rem 0
