#!/bin/bash
# shellcheck disable=SC2034

BRAND_NAME="Stratego"
BRAND_JURIDICAL_NAME="Stratego Technologies SpA"

DEFAULT_PAGE_TITLE="Stratego"
DEFAULT_PAGE_DESCRIPTION="Stratego Technnologies SPA - Software Solutions"
DEFAULT_ASSETS_SOURCE="https://stratego-public-assets.s3.amazonaws.com/landing/"

DOCS_POSTS_SOURCE="https://raw.githubusercontent.com/stratego-chile/site-content/main/docs"

DOCS_MONGO_URI="mongodb+srv://<username>:<password>@<cluster-domain>/"
DOCS_MONGO_DB="docs"
DOCS_MONGO_COLLECTION="articles"

MAILER_USER=""
MAILER_PASS=""
MAILER_HOST=""
MAILER_PORT=""
MAILER_TYPE=""
MAILER_FROM=""
MAILER_TO=""

CAPTCHA_VERIFIER_API="https://www.google.com/recaptcha/api/siteverify"
CAPTCHA_KEY=""
CAPTCHA_SECRET=""
CAPTCHA_MIN_SCORE="0.5"
